<%= form_for @film , :html => { :multipart => true } do |f| %>
  <% if @film.errors.any? %>
    <div id="error_explanation">
   
   <h2> Film nie może być zapisany, ponieważ:</h2>

      <ul>
      <% @film.errors.full_messages.each do |msg| %>
      
  <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tytuł %><br />
   
 <%= f.text_field :tytul %>
  </div>
   <div class="field">
    <%= f.label :tytuł_orginalny %><br />
 
   <%= f.text_field :tytul_orginalny %>
  </div>
  <div class="field">
    <%= f.label :reżyseria %><br />
  
  <%= f.text_field :rezyseria %>
  </div>
  <div class="field">
    <%= f.label :scenariusz %><br />
  
  <%= f.text_field :scenariusz %>
  </div>
  <div class="field">
    <%= f.label :obsada %><br />
   
 <%= f.text_area :obsada, :rows => 5 %>
  </div>


 <div class="field" >
    <%= f.label :data, "Data premiery" %><br />
    <%= f.text_field :data %>

  </div>
 
  <div class="field">
    <%= f.label :kraj_produkcji %><br />
    <%= f.text_field :kraj_produkcji %>
  </div>
 
 <div class="field">
    <%= f.label :opis_filmu %><br />
    <%= f.text_area :opis_filmu, :rows => 5 %>
  </div>

 
   <div class="field">
    <%= f.label :tag_list, "Kategoria"%><br/>
   
<%= f.select :tag_list, ['sensacyjny', 'animowany', 'biograficzny', 'dokumentalny', 'dramatyczny', 'erotyczny', 'familijny', 'fantasy', 'horror', 'thriller', 'katastroficzny', 'komedia', 'melodramat', 'musical', 'obyczajowy', 'psychologiczny', 'przyrodniczy', 'western'], :include_blank => true %>
  </div>

  <div class="field">
   
 <%= f.file_field :photo %>
 </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

