<div>
<%= form_tag films_path, :method => 'get' do %>  
    
    <%= text_field_tag :search, params[:search] %>  
    <%= submit_tag "Szukaj", :name => nil %>  
  <% end %>
</div>
<h1>Filmy</h1>
<table>
  <tr>
    <th></th>
    <th>Tytuł</th>
    <th>Reżyseria</th>
   
  </tr>

<% @films.each do |film| %>
  <tr>
    <td><%= image_tag film.photo.url(:small) %> </td>
    <td><%= film.tytul %></td>
    <td><%= film.rezyseria %></td>
    <td><%= link_to 'Pokaż', film %></td>
    <td><%= link_to 'Edytuj', edit_film_path(film) %></td>
    <td><%= link_to 'Usuń', film, :confirm => 'Czy aby napewno ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj film', new_film_path %>
<%= link_to 'Pokaż wszystkie', films_path %>