
<div>
<%= form_tag films_path, :method => 'get' do %>  
    
    <%= text_field_tag :search, params[:search] %>  
    <%= submit_tag "Szukaj", :name => nil %>  
  <% end %>
</div>
<h1>Filmy</h1>
<table>
  <tr>
    <th></th>
    <th>Tytuł</th>
    <th>Reżyseria</th>
   
  </tr>

<% @films.each do |film| %>
  <tr>
    <td><%= image_tag film.photo.url(:small) %> </td>
    <td><%= film.tytul %></td>
    <td><%= film.rezyseria %></td>
    <td><%= link_to 'Pokaż', film %></td>
<% if user_signed_in? %> 
    <td><%= link_to 'Edytuj', edit_film_path(film) %></td>
    <td><%= link_to 'Usuń', film, :confirm => 'Czy aby napewno ?', :method => :delete %></td>
 <% end %> 
  </tr>
<% end %>
</table>
<p>Kategorie: 
<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, tags_films_path(:name=>tag.name), :class => css_class %>
  
<% end %>
<%= link_to 'Pokaż wszystkie', films_path %>
</p>


<br />
<% if user_signed_in? %> 
<%= link_to 'Dodaj film', new_film_path %>
<% end %>