 <div style="z-index:1; left: 5px; top:375px; width:160px; position: absolute;">
<br /><br />
 <div class="nav">Kategorie filmów</div><center>
<% tag_cloud(@tags, %w(css1)) do |tag, css_class| %>
  <%= link_to tag.name, tags_films_path(:name=>tag.name), :class => css_class %><br/>
<% end %></center>
</div>  
 <div style="z-index:1; left: 40px; top:136px; width:160px; position: absolute;">
 <% if user_signed_in? %> 
<%= link_to image_tag("film.png"), new_film_path %> 
<% end %>
 </div>
  <div style="z-index:1; left: 800px; top:248px; width:160px; position: absolute;">
<%= link_to image_tag("all.png"), films_path %> 
 </div>
<div class = "content">
<% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
<% @films.each do |film| %>
<table>
  <tr>
    <td><center><%= image_tag film.photo.url(:small) %></center> </td>
    <td>
	<h3> <%= film.tytul %></h3><br />
 <b>Reżyseria</b> <%= film.rezyseria %><br /><%= ratings_for film, :static %> (Głosów: <%= film.rates.count %>) ( Komentarze: <b><%= film.comments.count %></b> )<br />
</td>		
<td>
<%= link_to image_tag("more.png"), film %> 
	</td>
	</tr>
</table>
<% end %>

<center>
<%= will_paginate @films, :previous_label => '< Poprzednia', :next_label => 'Następna >', :separator => '   '  %> 
</center>
</div>
<img src = "../images/3.jpg">