
<p>
  <%= image_tag @film.photo.url(:small) %>
</p>



<p>
  
<b>Kategoria:</b>
  <%= @film.tag_list %>
</p>

<p>
  <b>Tytuł:</b>
  <%= @film.tytul %>
</p>

<p>
  <b>Tytuł orginalny:</b>
 
 <%= @film.tytul_orginalny %>
</p>

<p>
  <b>Reżyseria:</b>
  <%= @film.rezyseria %>
</p>

<p>
  <b>Scenariusz:</b>
  <%= @film.scenariusz %>
</p>

<p>
  <b>Obsada:</b>
  <%= @film.obsada %>
</p>


<p>
  <b>Data premiery:</b>
  <%= @film.data %>
</p>

<p>
  <b>Kraj produkcji:</b>
  <%= @film.kraj_produkcji %>
</p>

<p>
  <b>Opis filmu:</b>
  <%= @film.opis_filmu %>
</p>


<% if @film.comments.any? %>
  <h2>Komentarze</h2>
  <% @film.comments.each do |comment| %>
   <p>Autor:<br><%= comment.author %></p>
    <p>Dodano:<br><%= comment.created_at %></p>
   <div class="comment">
     <b>Tekst:</b> <%= comment.body %>
        </div>
   <%= link_to "Usuń komentarz", [@film, comment], :confirm => "Czy aby napewno?", :method => :delete %>
  <% end %>
<% end %>

<h2>Dodaj komentarz</h2>
<%= form_for [@film, @film.comments.build] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :author, "Autor" %><br>
    <%= f.text_field :author %>
  </p>
  <p><%= f.text_area :body, :rows => 4 %></p>
   <p><%= f.submit %></p>
<% end %>
<br/><br/>


<%= link_to 'Edytuj', edit_film_path(@film) %> |
<%= link_to 'Cofnij', films_path %>
