  <div style="z-index:1; left: 40px; top:136px; width:160px; position: absolute;">
 <% if user_signed_in? %> 
<%= link_to image_tag("film.png"), new_film_path %> 
<% end %>
 </div>
 <div style="z-index:1; left: 800px; top:248px; width:160px; position: absolute;">
<%= link_to image_tag("all.png"), films_path %> 
 </div>
<div style="z-index:1; left: 180px; top:556px; width:740px; position: absolute; ">

<h4><%= @film.tytul %></h4>

</div>
<div style="z-index:1; left: 180px; top:620px; width:700px; position: absolute;">
<%= image_tag @film.photo.url(:small) %>
<div class="opis">
<p>
  <b>Opis filmu:</b>
  <%= @film.opis_filmu %>
 </p> </div>
<center>
<%= link_to image_tag("edit.png"), edit_film_path(@film) %>  <%= link_to image_tag("del.png"),  film_path(@film), :confirm => "Na pewno chcesz usunąć film?", :method => :delete %></center>
<div class="rw-ui-container rw-urid-0"></div>
 <h4>Komentarze</h4>
 <p>
<% if @film.comments.any? %>
 
 <% @film.comments.each do |comment| %>
<table>
  <tr>
    <td><center><%= image_tag comment.gravatar_url %></center> </td>
    <td>
	 <p>Autor: <%= comment.email %>   <br />Dodano: <%= comment.created_at %></p>
	  <div class="comment">
     <b>Tekst:</b> <%= comment.body %>
   </div>
</td>		
<td>
<% if user_signed_in? %>
  <% if comment.email == current_user.email %>
	<%= link_to image_tag("com.png"), [@film, comment], :confirm => "Czy aby napewno?", :method => :delete %>
	  <% end %>
	</td>
	</tr>
</table>
<% end %>

 <% end %>

<% else %>

<p> Narazie żadnych komentarzy. </p>
<% end %>
</p>
<br/>
<% if user_signed_in? %>
<h5>Dodaj komentarz</h5>
<%= form_for [@film, @film.comments.build] do |f| %>
  <%= f.error_messages %>
  <p>
   <%= image_tag current_user.gravatar_url %>
    <%= f.label :email, "Autor" %><br>
    <%= f.text_field :email, :value=> current_user.email, :readonly=> true %>
  </p>
  <p><%= f.text_area :body, :rows => 4 %></p>
   <p><%= f.submit %></p>
<% end %>
<br/><br/>
</div>
<div style="z-index:1; left: 270px; top:606px; width:700px; position: absolute;">


  <p>
<b>Kategoria:</b>
  <%= @film.tag_list %>
<br />

  <b>Tytuł oryginalny:</b>
 
 <%= @film.tytul_orginalny %>

<br />

  <b>Reżyseria:</b>
  <%= @film.rezyseria %>

<br />

  <b>Scenariusz:</b>
  <%= @film.scenariusz %>

<br />

  <b>Obsada:</b>
  <%= @film.obsada %>


<br />
  <b>Data premiery:</b>
  <%= @film.data %>

<br />

  <b>Kraj produkcji:</b>
  <%= @film.kraj_produkcji %>
</p>




<% end %>


</div>