<!DOCTYPE html>
<html>
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= content_for?(:title) ? yield(:title) : "Filmweb" %></title>
    <%= stylesheet_link_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application", "jquery.rails.js" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
<div class="top">
<div style="z-index:1; left:610px; top:210px; position: absolute;"> 
  <% if user_signed_in? %>  
<br> Zalogowany jako <%= current_user.email %>. <br>To nie Ty?  
    <%= link_to "Wyloguj", destroy_user_session_path %>  
  <% else %>  
   
<h2><%= link_to_rpx "Logowanie", user_session_url %><!--%= link_to "Sign in", new_user_session_path %--!> </h2>
  <% end %>  
  </div>
  <div style="z-index:1; left: 272px; top:310px; position: absolute;"> 
<p>Wyszukaj po tytule lub reżyserze:</p>
<%= form_tag films_path, :method => 'get' do %>  
    
    <%= text_field_tag :search, params[:search] %>  
    <%= submit_tag "Szukaj", :name => nil %>  
  <% end %>
  </div>
</div>


      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
  
<%= javascript_include_rpx(user_session_url) %> 
  </body>
</html>
