<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Filmweb" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
<div id="user_nav">  
  <% if user_signed_in? %>  
    Zalogowany jako <%= current_user.email %>. To nie Ty?  
    <%= link_to "Wyloguj", destroy_user_session_path %>  
  <% else %>  
   
<%= link_to_rpx "Zaloguj", user_session_url %>
  <% end %>  
</div>  

    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
<%= javascript_include_rpx(user_session_url) %> 
  </body>
</html>
